{% extends 'flatpages/default.html' %}
{% load custom_filter %}

{% block title %}
Main
{% endblock title %}


{% block content %}
<br>
<h2>Новостной портал</h2>
<img src = "https://img.freepik.com/free-vector/press-mass-media-broadcasting-studio-journalists-reporters-characters-hot-online-information-breaking-news-headline-news-content-concept-illustration_335657-2587.jpg?w=1380&t=st=1715711419~exp=1715712019~hmac=d8b82377fd4515c58e81de1539364c1f5c66d6c4617febcb690e0be2efd0b8f8"  height = 500px>
{% endblock content %}