{% extends 'flatpages/default.html' %}
{% load custom_tags %}
{% load custom_filter %}

{% block title %}
News
{% endblock title %}


{% block content %}
   <h1>Поиск</h1><br>
<hr>
 <form action="" method="get">

       {{ filterset.form.as_p }}

       <input type="submit" value="Найти" />
   </form><br><hr>
 {%if search%}
   {% for new in search %}
<a href="http://127.0.0.1:8000/news/{{new.id}}"><h2>{{ new.name|censor}}</h2></a>
        <h6>{{new.some_data|date:'d.M.Y'}}</h6><br>
        <h3>{{new.text|censor|truncatechars:20}}</h3>
<br><hr>
        {%endfor%}
   {% else %}

       <h2>Новостей и статей нет</h2>
   {% endif %}
    {% if page_obj.has_previous %}
       {# Для каждой ссылки пагинации указываем обработку через новый тег #}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
{% endblock content %}